.modal {
  width: 300px;
  height:250px;
  position: absolute;
  top:10px;
  background-color: #353232;
  /*margin: 9px auto;*/
  z-index: 2;

  padding: 20px 10px;
 
  border: solid pink  2px;
  border-radius: 10px;
  
}