.modal {
  width: 400px;
  height:320px;
  position: absolute;
  top:0px;
  background-color: #353232;
  /*margin: 9px auto;*/
  z-index: 2;

  padding: 20px 10px;
 
  border: solid pink  2px;
  border-radius: 10px;
  
}