.songContainer{
	display: flex;
	align-content: center;
	/*justify-content:space-between;*/
	padding-top: 3px;
	border-bottom: solid 1px pink;
}

.songContainer:hover{
	background-color: #383737;
}

.songContainer > div{
	padding-right: 20px;
}

.songTitle{
	width:40%;
}

.songPerformer{
	width:40%;
}

.deleteButton:hover{
	cursor:pointer;
	color:pink;
}