body {
  font-family: 'Staatliches',sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #353232;
  color:white;
  justify-content: center;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input{
  font-family: 'Staatliches',sans-serif;
  margin-left: 5px;
}

#heading{
  margin:10px;
}

#title{
  
}

#performer{

}

.addWrapper{
  display:flex;
  padding:5px;
  justify-content: space-between;
}

#add-form{
  display: inline-block;
}

.modal {
  height:250px;
  width:320px;
  top:10px;
  background-color: #353232;
  position: absolute;
  /*margin: 9px auto;*/
  z-index: 2;
  border: solid pink  2px;
  border-radius: 10px;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  margin:0 5px 0 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left:-170px;
  left:50%;
  font-size: 18px;
}

.modal div{
  padding-bottom: 20px;
}

#addItems{
  display:flex;
  flex-direction: row;
  
}

.buttonDetails{
  font-size: 18px;
  margin:10px;
  height:40px;
  padding:0 20px 0 20px;
  border-radius: 5px;

}

.buttonDetails:hover{
  background-color: pink;
  cursor: pointer;
}

.buttonsWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input[type='password']{

}

.enterPassword{
  font-size: 18px;
  margin:10px;
  height:40px;
  padding:0 20px 0 20px;
  border-radius: 5px;

}

